

body {
	color:purple;
	background-color:black;
	text-align: center;
	font-family: "raleway", sans-serif;
}

#header {

	height:15px;
	background-color: black;
	text-align: left;
	color: black;
	background-color: purple;
	height: 2em;
	padding-top: 0em;
	padding-left: 20px;

}

#slogan {
	font-family:  'Asap', sans-serif;
}

hr{
	width: 400px;
	colo:purple;
}
ß
form {
	align-form:left;
}
#jackie {
	width: 700px;
	height: 500px;
	border-style: solid;
	border-width: 10px;
}

ul{
	text-align: center;
	float:center;
	padding: 10px;
	list-style-type: disc;

}

li {
	display: inline;
	margin:10px;
}
a {
	text-align: center;
	font-family: verdana;
	
}

p{
	padding:10px;
}

