body {
	font-family: 'Open Sans', sans-serif;
	display: block;
	background-color: #aaaaaa;
	margin: 0;
	
}

#headerwrap {
	width: 100%;
	margin: 0 auto;

}

nav {
	float: right;
}

a {
	padding:10px;
	font-family: sans-serif verdana;
	font-size: 1.5em;
	color:white;
	text-decoration: none;
	color:black;

}

nav a:hover {
	color: red;
}

header {
	color: black;
	text-align: center;
	height: 15em;
	background: url(../images/fishbowl.jpg) no-repeat center center scroll;
	background-size: cover;
	font-size:3em;
	width: 100%;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:" ";
	display: block;
	clear:both;
}

img {
	width: 40%;
	height: 40%;
	padding: 5%;
	margin: 5%;
	
}

#meetfish {
	text-align: center;
	border: solid black;
}

section {
	float: left;
	font-size: 1em;
	text-align: center;
	width: 30%;
	padding: 1em;

}



hr {
	width: 75px;
}

#wrapper {
	width: 100%;
	margin: 0 auto;

}

footer {
	text-align: center;
}














